/* body {
    background-color: #1b1b1b;
}

.create-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 37px;
}

textarea {
  height: 171px;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  color: #676767;
  background-color: #0d0d0d;
}

h1 {
    border-left: 4px solid white;
    color: white;
}

.error-message {
  color: red;
}

button {
  width: 30%;
  height: 36px;
} */