body {
  background-color: #1b1b1b;
}

.create-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 37px;
}

.post-content {
  height: 171px;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  color: #999;;
  background-color: #0d0d0d;
  border: none;
}

.post-title {
  border-left: 4px solid white;
  color: white;
  padding-left: 10px;
}

.error-message {
  color: red;
}

.post-button {
  width: 30%;
  height: 36px;
}

.icons-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    color:white;
}

.fa-solid {
  font-size: 35px;
  margin-left: 110px;
}

.fa-regular.fa-message {
  font-size: 35px;
  margin-left: 47px;
}