body {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Josefin Sans", sans-serif;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: hidden;

}

.line-login {
  position: relative;
  bottom: 6px;
  font-family: sans-serif;
  left: 6px;
}

.title-conexion {
  color: aliceblue;
  margin: 90px;
  font-size: 3rem;
  margin: 3rem 1.3rem 3rem 0;
}

.btn-login {
  padding: .8rem;
  letter-spacing: 1px;
  background: #ededed;
  font-weight: 500;
  border-radius: .5rem;
  border: 1px solid rgb(250, 242, 242);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  width: 8rem;
  align-self: center;
}

.btn-login:hover {
  background: #ffffff;
}

.register-link {
  color: grey;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.label {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.email {
  display: flex;
  flex-direction: column;
}

input {

  padding: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #777;
  color: white;
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  width: 20rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}