.div-container-post {
    background: #000005;
    background: linear-gradient(90deg, rgba(0, 0, 5, 1) 0%, rgba(71, 69, 69, 1) 90%, rgba(117, 117, 117, 1) 100%);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 .7rem 0.5rem;
}

.h4-title-post {
    font-size: .7rem;
}

.p-content-post {
    font-size: .6rem;
    padding: 1rem;
}

.post-publie {
    font-size: .7rem;
    text-align: start;
}

.delete-icon {
    color: rgb(224, 33, 33);
}

.delete-post-btn {
    height: 1.5rem;
    width: 1.5rem;
}

.btn-profile-post {
    cursor: pointer;
    color: rgb(130, 255, 58);
}

.btn-profile-post :hover {
    color: rgba(130, 255, 58, 0.733);
}

.div-container-subtitle-post {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;

}
