.post-details-title {
    color: rgb(255, 255, 255);
    display: flex;
}

.post-details-content {
    display: flex;
}

.post-main {
    background: linear-gradient(90deg, rgba(0, 0, 5, 1) 0%, rgba(71, 69, 69, 1) 90%, rgba(117, 117, 117, 1) 100%);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 34px;
    margin: 30px;
    position: relative;
}

.comments-title {
    color: white;
    display: flex;
    margin: 35px;
    align-items: center;
    gap: 5px;
}

.comments-section {
    height: 450px;
    overflow-y: auto;
}

.titlePost {
    color: white;
    font-size: 45px;
    border-left: 4px solid white;
    display: flex;
    margin-left: 110px;
    margin: 30px;
    line-height: 64px;
    height: 45px;
}

.postdetail-author {
    display: flex;
    color: rgb(130, 255, 58);
    font-size: 20px;
}

.comment-card {
    background: linear-gradient(to right, white, grey);
    color: black;
    padding-left: 10px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 24px;
    margin: 30px;
    position: relative;
}

.comment-form {
    background: linear-gradient(to right, white, grey);
    border-radius: 20px;
    margin-bottom: 24px;
    margin: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.commentform {
    background: linear-gradient(to right, white, grey);
    border-radius: 20px;
    margin-bottom: 24px;
    margin: 30px;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.comment-author {
    font-weight: 600;
    font-size: 14px;
    color: green;
}

.comment-content {
    color: black;
    display: flex;
    margin: 10px;
}

.comment-header {
    display: flex;
    margin: 10px;
    color: black;
    font: bold;
}

.post-date {
    padding-left: 6px;
    display: flex;
    color: gray;
    font-size: 10px;
    padding-left: 2px;
    z-index: 1;
    margin: 0;
}

.comment-date {
    display: flex;
    padding-left: 10px;
    color: black;
    font-family: cursive;
}

.datecomment {
    display: flex;
    padding-left: 10px;
    font-family: cursive;
}

.comment-input {
    display: flex;
    border: none;
    background: transparent;
}

.deletepost {
    position: absolute;
    top: 10px;
    right: 10px;
}

.delete-post-button {
    background: none;
    font-size: 16px;
    cursor: pointer;
    color: red;
}

.delete-comment-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.comment-submit-button {
    width: 30px;
    height: 30px;
    background: none;
    display: flex;
    border-radius: 45px;
    align-items: center;
}

.nocomment {
    display: flex;
    justify-content: center;
}

.icons-postdetail {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 12px 0;
    background-color: #1b1b1b;
    z-index: 1000;
}

.icons-postdetail i {
    font-size: 40px;
    cursor: pointer;
}

.icons-postdetail i:nth-child(1) {
    justify-self: start;
    margin-left: 20px;
}

.icons-postdetail i:nth-child(2) {
    justify-self: center;
}

.icons-postdetail i:nth-child(3) {
    justify-self: end;
    margin-right: 20px;
}

.icons-postdetail .fa-circle-user {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 5px;
}