.p-loading,.div-container-profile{
    color: white;
}

.icon-footer {
    color: white;
    font-size: 3rem;
    cursor: pointer;
}
.div-container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}
.icon-footer:hover {
    color: rgba(255, 255, 255, 0.726);
}

.messenger {
    font-size: 1.5rem;
    color: white;
}

.footer-profile {
    display: flex;
    justify-content: space-around;

}

.title-profile {
    display: flex;
    font-size: 3rem;
    margin: .5rem 0;
    font-family: sans-serif;

}

.username-profile {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    margin: 0;
}

.line {
    position: relative;
    bottom: 11px;
    left: 5px;
}
.container-icon-count{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.number-span-profile{
    font-size: 1.2rem;
    font-weight: bolder;
}