
body {
    background-color: black;
}

.container-register {
  display: flex;
  justify-content: flex-start;
  color: aliceblue;
  flex-direction: column;
}

.create {
  font-size: 45px;
  margin: 80px;
  border-left: 4px solid white;
  padding-left: 10px;
  display: flex;
  margin-left: 110px; 
}

.formulaire {
  width: 250px;    
  margin-left: 90px; 
  display: flex;
  flex-direction: column;
}

.inputP {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  margin: 20px;
  letter-spacing: 3px;
  outline: none;
}

.buttonSub {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border-radius: 14px;
  margin: 20px auto;
  background: white;
  color: black;
  cursor: pointer;
}

.success {
  text-align: center;
  font-size: 22px;
}
