body {
  background-color: #1c1c1c;
  height: 100vh;
}

.container-register {
  display: flex;
  justify-content: flex-start;
  color: aliceblue;
  flex-direction: column;
}

h2 {
  font-size: 40px;
  margin: 80px;
  border-left: 4px solid white;
  padding-left: 10px;
  display: flex;
}


form {
  width: 250px;    
  margin-left: 90px; 
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  outline: none;
}

input::placeholder {
  color: #b8b8b8;
}

button {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border-radius: 14px;
  margin: 20px auto;
  background: white;
  color: black;
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 22px;
}
