body {
    background-color: #1c1c1c;
    height: 100vh;
    
}

.container-register{
    display: flex;
    justify-content: center;
    color: aliceblue;
    flex-wrap: wrap;
    flex-direction: column;

}

h2 {
  font-size: 40px;
  margin: 90px;
  border-left: 4px solid white;
  padding-left: 10px;
  justify-content: center;
  display: flex;
}

p {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.buttonconnect{
    justify-content: center;
    display: flex;

}

input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #777;
  color: white;
  font-size: 22px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  outline: none;
}

input::placeholder {
  color: #b8b8b8;
}

button {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 14px;
    font-family: 'Times New Roman', Times, serif;
    display: block;     /* permet de centrer avec margin auto */
    margin: 20px auto;  /* centre horizontalement */
}


